* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: fit-content;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    display: inline-flex;
}

a {
    text-decoration: none;
    color: #FDFDFD;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin: auto 25px;
    padding: 10px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
}

footer {
    background-color: #419488;
    height: fit-content;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

footer ul {
    list-style: none;
}

footer ul li {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

footer #footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer #buttons-footer {
    display: flex;
    flex-direction: column;
}

footer #buttons-footer .button-quero-ser-prof,
.button-mais-link {
    width: 289px;
    height: 51px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background: #2E948A;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    border-radius: 62px;
}

.menu-header {
    width: 100%;
    padding-top: 6vh;
    padding-right: 5vw;
    display: flex;
    justify-content: right;
}

.logo-header {
    padding-left: 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

@media only screen and (max-width: 1030px) {
    #header-conteudo {
        flex-direction: column !important;
        align-items: center;
    }

    #cursos-conteudo {
        flex-direction: column !important;
        align-items: center;
    }

    .button-curso {
        margin-bottom: 6vh;
    
    }

    #header-conteudo-banner {
        margin-top: 6vh;
    }

    #first-row, #second-row, .titulo-sobre-nos {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #conteudos {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 800px) {

    footer #footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer nav ul {
        display: flex;
        flex-direction: row;
    }

    footer nav ul li {
        display: flex;
        padding-left: 15px;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }

}

@media only screen and (max-width: 710px) {
    /*

        RESPONSIVIDADE HEADER

    */

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header ul li {
        font-size: 3vw;
    }

    .menu-header {
        justify-content: center;
    }

    .logo-header {
        padding-left: 0 !important;
        padding-bottom: 0 !important;
    }

    #header-conteudo-banner img {
        width: 340px;
    }

    .titulo-mais-conteudo {
        font-size: 25px !important;
    }

    .titulo-sobre-nos {
        font-size: 25px !important;
    }
}

@media only screen and (max-width: 510px) {
    #header-conteudo-texto, .descricao-header, .titulo-header {
        width: 340px !important;
    }

    #pessoa {
        flex-direction: column;
    }
}

.button-quero-ser-prof {
    margin-bottom: 2vh;
}

#header-conteudo-texto .titulo-header {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    width: 480px;
    color: #FF4081;
}

#header-conteudo-texto .descricao-header {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    width: 462px;
    padding-top: 4vh;
    padding-bottom: 4vh;
    color: #555555;
}

.button-informativo {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    width: 268px;
    height: 51px;
    line-height: 31px;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    background-color: white;
}

#header-conteudo {
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    justify-content: center;
}

#cursos-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #F7F7F7;
    padding-top: 6vh;
    padding-bottom: 6vh;
    margin-top: 6vh;
}

#cursos-conteudo img {
    height: 270px;
    width: 250px;
}

.curso-titulo {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    margin-top: 2vh;
    color: #FF4081;
}

.curso-descricao {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    width: 293px;
    margin-top: 2vh;
    line-height: 20px;
    text-align: justify;
    color: #000000;
}

.button-curso {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    width: 233px;
    height: 51px;
    font-size: 20px;
    line-height: 23px;
    margin-top: 2vh;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    background: #FF4081;
    border-radius: 62px;
}

.titulo-sobre-nos {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    color: #009688;
}

.descricao-pessoa {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    width: 363px;
    line-height: 25px;
    color: #000000;
}

.nome-pessoa {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

#first-row, #second-row {
    display:flex;
    justify-content: space-around;
}

#pessoa {
    display: inline-flex;
}

#informacoes-pessoa {
    padding-left: 2vw;
    padding-bottom: 4vh;
}

#sobre-nos #titulo {
    display:flex;
    justify-content: center;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

#sobre-nos {
    padding-bottom: 8vh;
}

.titulo-mais-conteudo {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #009688;
}

.titulo-conteudo {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 31px;

    color: #009688;
}

.descricao-conteudo {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;

    color: #555555;
}

#conteudo {
    width: 319px;
}

#conteudos {
    display: flex;
    justify-content: space-around;
}

#mais-conteudo {
    background: #F7F7F7;
}

.titulo-mais-conteudo {
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    padding-bottom: 8vh;
}

#botao-conteudo {
    display: flex;
    justify-content: center;
}

#mais-conteudo .button-conteudo {
    font-family: 'Ubuntu';
    font-style: normal;
    width: 207px;
    background-color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FF4081;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border: 2px solid #FF4081;
    border-radius: 62px;
}